.skill-container {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.skills h1 {
  color: #fff;
  text-align: center;
}
.skill {
  width: 200px;
}

.skill p {
  color: #fff;
  text-align: center;
}

.progress {
  width: 100%;
  height: 20px;
  background-color: rgb(233, 236, 239);
  border-radius: 15px;
  overflow: hidden;
}

.progress span {
  width: 200px;
  color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
}

.progress div {
  height: 100%;
  /* width: 20%; */
  background-color: green;
}
